
git:
  depth: 3
matrix:
  include:
  - os: linux
    dist: bionic
    sudo: required
    compiler: gcc
    addons:
      apt:
        sources:
        - sourceline: 'ppa:ubuntu-toolchain-r/test'
        packages:
          - g++-8
          - libatlas-base-dev
          - libblas-dev
    env:
      - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
  - os: osx
    sudo: required
    osx_image: xcode11
    compiler: clang

script:
  - |
    export MKN_LIB_LINK_LIB="1" KUL_GIT_CO="--depth 3" KLOG="3"
    git clone https://github.com/Dekken/maiken -b master --depth 1 maiken
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      make bsd -C maiken CXX=clang++
      ./mkn build -dtKa "-O2 -std=c++14" -l "-pthread -ldl" -p test run
    fi
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      eval "${MATRIX_EVAL}"
      export CC CXX
      make nix -C maiken
      ./mkn build -dtKa "-D_KUL_USE_CBLAS -O2 -std=c++14" -l "-pthread -ldl -lblas" -p test run
    fi
