name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - run: |
        git clone https://github.com/dekken/maiken -b master --depth 10 --recursive
        cd maiken && make nix && cp mkn .. && cd ..
        KLOG=3 ./mkn clean build -dtOp test -a "-std=c++17 -fPIC"

