name: macos-latest

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3

    - name: "Build/Test" # contains slash so use quotes otherwise UB
      run: |
        wget https://github.com/mkn/mkn/releases/download/latest/mkn_osx
        chmod +x mkn_osx
        KLOG=3 ./mkn_osx clean build run -dtOp test -a "-std=c++17 -fPIC"
